body {
	font-family: arial, sans-serif;
	display: flex;
	flex-direction: column;
}
.sidenav {
	
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: white;
}

.main {
	margin-left: 170px;
	padding: 0px 10px;
}

.intro {
	margin: 20px;
}

.content {
	display: fixed;
	flex-direction: column;
}

.whatsnew {
	border: 2px;
	border-style: solid;
	padding: 8px;
	margin: 1px;
}

.whatsnewp {
	font-weight: bold;
	margin: 0;
}

ul {
	margin: 8px;
}

.teacher {
	font-weight: bold;
}

.test {
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: italic;
}

.contact {
	margin: 8px;
}

.coachemails {
	padding-left: 8px;
	margin: 4px;
}

.links {
	text-decoration: underline;
	color: black;
}

.links:hover {
	color: gray;
}

.links a:hover {
	color:gray;
}

.image {
	width: 25%;
	height: 50%;
	display: flex;
	flex-direction: row;
}

.maps {
	display: flex;
	flex-direction: row;
}

/* navbar */



.name{
	text-decoration: none;
	color: red;
}

.hvr-glow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* navbar end */

/* start of copied code */

.w3-content{max-width:980px;margin:auto}

.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/* end of copied code */
