body {
	font-family: arial, sans-serif;
	display: flex;
	flex-direction: row;
}

.sidenav {
	display: flex;
	flex-direction: column;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: white;
	background-color: #c60f0f;
}

.main {
	margin-left: 170px;
	padding: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 180px;
}

.topbar {
	display: flex;
	flex-direction: row;
}

.logo {
	height: 75px;
	margin: 4px;
	padding-bottom: 6px;
}

.secondbar {
	display: flex;
	flex-direction: row;
	height: 400px;
}

.slideshow{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.updates {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.whatsnew {
	border: 2px;
	margin: 2px;
	border-style: solid;
	padding: 8px;
	height: 33%;
}

.summertraining {
	border: 2px;
	border-style: solid;
	padding: 8px;
	margin: 2px;
}

.whatsnewp {
	font-weight: bold;
	margin: 0;
}

.whatsnewlist {
	padding: 0;
}

ul {
	margin: 8px;
}

.pictures {
	display: flex;
	flex-direction: row;
}

.photo {
	width: 50%;
	height: 50%;
	margin: 1px;
}

.teacher {
	font-weight: bold;
}

.test {
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: italic;
}

.contact {
	margin: 8px;
}

.coachemails {
	padding-left: 8px;
	margin: 4px;
}

.links {
	text-decoration: underline;
	color: black;
}

.links:hover {
	color: gray;
}

.links a:hover {
	color:gray;
}

.maps {
	display: flex;
	flex-direction: row;
}

.name{
	text-decoration: none;
	color: red;
}

#slideshow {
  overflow: hidden;
  height: 100%;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
background-image: url("./pictures/start.jpg");
background-size: 728px 510px;
}

.slide:nth-child(2) {
background-image: url("./pictures/duffy.jpg");
background-size: 728px 510px;
}

.slide:nth-child(3) {
  background-image: url("./pictures/girlsteam.jpg");
  background-size: 728px 510px;
}

.slide:nth-child(4) {
  background-image: url("./pictures/peter.jpg");
  background-size: 728px 510px;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
